<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!--bootstrap CSS --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- Google Font --}}
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">


    <style>
        html,
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            background-image: url(/images/national-park-wallpaper-collection-hd-5607.jpeg);
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica;
            letter-spacing: 0.02em;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
        }

        footer {
            flex-shrink: 0;
            background: rgba(255, 255, 255, 0.637);
            bottom: 0px;
            width: 100%;
            height: 50px;
            flex-shrink: 0;
        }

        #common-footer {
            color: Black;
            font-size: 12px;

        }

        strong {
            margin-bottom: 0;
            padding: 0;
        }

        .text-white {
            font-size: 15px;
        }

        .no-style {
            color: inherit;
            text-decoration: inherit;
        }

        .no-style:hover {
            text-decoration: none;
        }
    </style>

    <title>Camping Planner</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <p class="navbar-brand navbar-item"><a class="no-style" href="/welcome">Camping Planner</a></p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">__</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item navbar-item">
                        <a class="nav-link active navbar-item" aria-current="page" href="/welcome">Home</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link active navbar-item" aria-current="page" href="/favorite-parks">My <img
                                style="height:20px" src="https://img.icons8.com/color/48/000000/like--v3.png"
                                alt="Fav" />
                            Parks</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn logout btn-blu" href="/logout" role="button">Log Out</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{{body}}}

    <footer>
        <div class="container">
            <div class="text-center ">
                <span id="common-footer">
                    <strong class="text-white">Camping Planner</strong> by: Pavel Darii, Ann Cooper-Miline, Jesse
                    Persinger, Taylor Ceneviva, Philip DiPaula. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                    <strong class=" text-white">Copyright &copy; Camping-Planner</strong>
                </span>
            </div>
        </div>

    </footer>

</body>

</html>