<style>
    .overflow-auto {
        width: 400px;
        height: 200px;
    }

    h2,
    h1 {
        margin: 10px;
        text-align: center;
        color: white;
    }

    h1 {
        margin-top: 100px;
        font-size: 30px;
    }

    .overflow-auto {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .list-group-item {
        background: rgb(255, 255, 255, 0.3);
        color: white;
    }
</style>
<div class="overflow-auto">
    <h2>Your Favorite Locations!</h2>
    <ul class="list-group">
        {{#each favoriteParks}}
        <li class="list-group-item" value={{LocationId}}>{{locationName}}</li>
        {{/each}}
    </ul>
</div>
<script>
    $(".list-group-item").click((e) => {
        console.log(e);
        parkId = e.currentTarget.attributes[1].value;
        let url = "locations/favorite/" + parkId;
        window.location.replace(url);
    });
</script>