<h1>Eat-Da-Burger!</h1>

<img id="burger" src="/assets/img/burger.png" alt="picture of a burger" width="200" height="150">

<div id="menu">
    <h2>On the Menu</h2>

    <ul id="menu-list">
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block food=true}}
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div id="eaten">
    <h2>In My Tummy</h2>

    <ul id="eaten-list">
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-block food=false}}
            {{/if}}
        {{/each}}
    </ul>
</div>

<form id="burger-form" class="create-form">
    <div class="form-group">
        <textarea type="text" id="burga" name="burga" placeholder="Burger Name Here"></textarea>
    </div>
    <button id="burger-button" type="submit">Add Burger to Menu</button>
</form>