{{!-- Choose from list of state parks --}}
{{!-- Get the list of parks and ids, and set value attribute in html with id from the object --}}
<ul class="list-group">
    <li class="list-group-item disabled">1 National Park</li>
    <li class="list-group-item">2 National Park</li>
    <li class="list-group-item">3 National Park</li>
    <li class="list-group-item">4 National Park</li>
    <li class="list-group-item">5 National Park</li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("li").click((e) => {
        parkId = 434
        let url = window.location.pathname + "/" + parkId;
        window.location.replace(url);
    });
</script>