{{!-- This page will hold the premade equiptment list (based on state/park),
info such as: description-address-website and the weather(based on ZipCode
-Equiptment list:
-if checked yes ex.green
-if checked no ex.red and show link
-submit button creates checklist on checklist.handlebars page
- Should let users add new items to their checklist
-Weather
-description from database
--}}
<style>
    .col-md-8 {
        margin-top: 15px;
    }
</style>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <h1 class="card-header">Park Name <div class="container col-md-2 clearfix">
                    </div>
                </h1>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid
                        atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero
                        voluptate voluptatibus possimus, veniam magni quis!</p>

                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Add equipment for visiting this park</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Equipment Name...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>


            <div class="card my-4">
                <h5 class="card-header">Equipment List</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-group mb-0">
                                {{> equipment-list}}
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Equipment Checklist</h5>
                <div class="card-body">
                    If you are not sure what equipment you need; then, press <a href="/checklist">here</a> to
                    select equipment from our checklist
                </div>
            </div>

        </div>

    </div>
    <script>
    </script>