<style>
  .overflow-auto {
    width: 300px;
    height: 200px;
  }

  h2,
  h1 {
    margin: 10px;
    text-align: center;
    color: white;
  }

  h1 {
    margin-top: 100px;
    font-size: 30px;
  }

  .overflow-auto {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .list-group-item {
    background: rgb(255, 255, 255, 0.3);
    color: white;
  }
</style>
<h1>Welcome to Camping Planner!</h1>

<div class="overflow-auto">
  <h2>Chose a state!</h2>
  <ul class="list-group">
  </ul>
</div>


<!-- HERO -->
<div class="container container-search"> 
    <div class="row ">
    <section class="hero">
        <div class="hero-body">
        <p class="title center-item">
            Welcome to Camping Planner!
            
        </p>
        <p class="subtitle center-item">
            Select a state to get started...          </p>
        <div class="dropdown container-content">
            <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                <span>Select State</span>
                <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
            </div>
{{!-- <ul class="list-group">
  <li class="list-group-item">OH</li>
  <li class="list-group-item">KY</li>
  <li class="list-group-item">NY</li>
  <li class="list-group-item">WA</li>
  <li class="list-group-item">VA</li>
</ul> --}}

            {{!-- <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                Overview
                </a>
                <a href="#" class="dropdown-item">
                Modifiers
                </a>
                <a href="#" class="dropdown-item">
                Grid
                </a>
                <a href="#" class="dropdown-item">
                Form
                </a>
                <a href="#" class="dropdown-item">
                Elements
                </a>
                <a href="#" class="dropdown-item">
                Components
                </a>
                <a href="#" class="dropdown-item">
                Layout
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                More
                </a>
            </div>
            </div> --}}
        {{!-- </div>
        </div>
        </section>
    </div>
    </div> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  usStates = [
    {
      "name": "Alabama",
      "abbreviation": "AL"
    },
    {
      "name": "Alaska",
      "abbreviation": "AK"
    },
    {
      "name": "American Samoa",
      "abbreviation": "AS"
    },
    {
      "name": "Arizona",
      "abbreviation": "AZ"
    },
    {
      "name": "Arkansas",
      "abbreviation": "AR"
    },
    {
      "name": "California",
      "abbreviation": "CA"
    },
    {
      "name": "Colorado",
      "abbreviation": "CO"
    },
    {
      "name": "Connecticut",
      "abbreviation": "CT"
    },
    {
      "name": "Delaware",
      "abbreviation": "DE"
    },
    {
      "name": "District Of Columbia",
      "abbreviation": "DC"
    },
    {
      "name": "Federated States Of Micronesia",
      "abbreviation": "FM"
    },
    {
      "name": "Florida",
      "abbreviation": "FL"
    },
    {
      "name": "Georgia",
      "abbreviation": "GA"
    },
    {
      "name": "Guam",
      "abbreviation": "GU"
    },
    {
      "name": "Hawaii",
      "abbreviation": "HI"
    },
    {
      "name": "Idaho",
      "abbreviation": "ID"
    },
    {
      "name": "Illinois",
      "abbreviation": "IL"
    },
    {
      "name": "Indiana",
      "abbreviation": "IN"
    },
    {
      "name": "Iowa",
      "abbreviation": "IA"
    },
    {
      "name": "Kansas",
      "abbreviation": "KS"
    },
    {
      "name": "Kentucky",
      "abbreviation": "KY"
    },
    {
      "name": "Louisiana",
      "abbreviation": "LA"
    },
    {
      "name": "Maine",
      "abbreviation": "ME"
    },
    {
      "name": "Marshall Islands",
      "abbreviation": "MH"
    },
    {
      "name": "Maryland",
      "abbreviation": "MD"
    },
    {
      "name": "Massachusetts",
      "abbreviation": "MA"
    },
    {
      "name": "Michigan",
      "abbreviation": "MI"
    },
    {
      "name": "Minnesota",
      "abbreviation": "MN"
    },
    {
      "name": "Mississippi",
      "abbreviation": "MS"
    },
    {
      "name": "Missouri",
      "abbreviation": "MO"
    },
    {
      "name": "Montana",
      "abbreviation": "MT"
    },
    {
      "name": "Nebraska",
      "abbreviation": "NE"
    },
    {
      "name": "Nevada",
      "abbreviation": "NV"
    },
    {
      "name": "New Hampshire",
      "abbreviation": "NH"
    },
    {
      "name": "New Jersey",
      "abbreviation": "NJ"
    },
    {
      "name": "New Mexico",
      "abbreviation": "NM"
    },
    {
      "name": "New York",
      "abbreviation": "NY"
    },
    {
      "name": "North Carolina",
      "abbreviation": "NC"
    },
    {
      "name": "North Dakota",
      "abbreviation": "ND"
    },
    {
      "name": "Northern Mariana Islands",
      "abbreviation": "MP"
    },
    {
      "name": "Ohio",
      "abbreviation": "OH"
    },
    {
      "name": "Oklahoma",
      "abbreviation": "OK"
    },
    {
      "name": "Oregon",
      "abbreviation": "OR"
    },
    {
      "name": "Palau",
      "abbreviation": "PW"
    },
    {
      "name": "Pennsylvania",
      "abbreviation": "PA"
    },
    {
      "name": "Puerto Rico",
      "abbreviation": "PR"
    },
    {
      "name": "Rhode Island",
      "abbreviation": "RI"
    },
    {
      "name": "South Carolina",
      "abbreviation": "SC"
    },
    {
      "name": "South Dakota",
      "abbreviation": "SD"
    },
    {
      "name": "Tennessee",
      "abbreviation": "TN"
    },
    {
      "name": "Texas",
      "abbreviation": "TX"
    },
    {
      "name": "Utah",
      "abbreviation": "UT"
    },
    {
      "name": "Vermont",
      "abbreviation": "VT"
    },
    {
      "name": "Virgin Islands",
      "abbreviation": "VI"
    },
    {
      "name": "Virginia",
      "abbreviation": "VA"
    },
    {
      "name": "Washington",
      "abbreviation": "WA"
    },
    {
      "name": "West Virginia",
      "abbreviation": "WV"
    },
    {
      "name": "Wisconsin",
      "abbreviation": "WI"
    },
    {
      "name": "Wyoming",
      "abbreviation": "WY"
    }
  ]

  var statesHtmlContainer = "";
  usStates.forEach(state => {
    statesHtmlContainer += `<li class="list-group-item" abbreviation=${state.abbreviation}>${state.name}</li>`
  })
  $(".list-group").append(statesHtmlContainer)
  $("li").click((e) => {
    let stateId = e.currentTarget.attributes.abbreviation.nodeValue.toUpperCase();
    let url = "/locations/" + stateId;
    window.location.replace(url);
  });
</script>