{{!-- home page
-Div States
dropdown with list of states


--}}
<ul class="list-group">
  <li class="list-group-item">OH</li>
  <li class="list-group-item">KY</li>
  <li class="list-group-item">NY</li>
  <li class="list-group-item">WA</li>
  <li class="list-group-item">VA</li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  console.log(window.location.pathname)
  $("li").click((e) => {
    let stateId = e.target.innerText.toUpperCase();
    let url = "/locations/" + stateId;
    window.location.replace(url);
  });
</script>