<style>
  .overflow-auto {
    width: 300px;
    height: auto;
  }

  h2,
  h1 {
    margin: 10px;
    text-align: center;
    color: white;
    font-family: 'Yusei Magic', sans-serif;

  }


  h1 {
    margin-top: 100px;
    font-size: 30px;
  }

  .overflow-auto {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }


  .list-group-item {
    background: rgba(255, 255, 255, 0.637);
    color: #734338;
    text-align: center;
    font-size: 20px;
  }

  .background {
    color: White;
  }

  /* Navbar */
  .navbar {
    background-color: #bc674d;
  }

  .logout {
    margin-left: 30px;
  }

  .navbar-item {
    color: white;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar-toggler {
    background-color: #734338;
  }

  /* Buttons */
  .button {
    background-color: #734338;
    color: white;
    font-family: 'Yusei Magic', sans-serif;
  }

  .btn-blu {
    background-color: #a3cfd9;
    color: white;
    font-family: 'Yusei Magic', sans-serif;
  }

  .center {
    width: 350px;
    height: 300px;
  }

  .scroll:hover {
    cursor: pointer;
  }

  .margin {
    margin-top: 30px;
    font-family: 'Yusei Magic', sans-serif;

  }

  /* footer */
  .footer {
    color: black;
  }

  footer {
    position: fixed;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.637);
    bottom: 0px;
    width: 100%;
  }
</style>

<!-- HERO -->
<section>
  <div class="container background">
    <div class="row" "overflow-auto">
      <h1>Welcome to Camping Planner!<h1>
          <h2> Select a state to get started...</h2>
    </div>
    <div class="col-md-8 offset-md-4">

      <div class="overflow-scroll center margin">
        <ul class="list-group scroll">
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>


  </div>
</section>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  usStates = [
    {
      "name": "Alabama",
      "abbreviation": "AL"
    },
    {
      "name": "Alaska",
      "abbreviation": "AK"
    },
    {
      "name": "Arizona",
      "abbreviation": "AZ"
    },
    {
      "name": "Arkansas",
      "abbreviation": "AR"
    },
    {
      "name": "California",
      "abbreviation": "CA"
    },
    {
      "name": "Colorado",
      "abbreviation": "CO"
    },
    {
      "name": "Connecticut",
      "abbreviation": "CT"
    },
    {
      "name": "Delaware",
      "abbreviation": "DE"
    },
    {
      "name": "District Of Columbia",
      "abbreviation": "DC"
    },
    {
      "name": "Florida",
      "abbreviation": "FL"
    },
    {
      "name": "Georgia",
      "abbreviation": "GA"
    },
    {
      "name": "Hawaii",
      "abbreviation": "HI"
    },
    {
      "name": "Idaho",
      "abbreviation": "ID"
    },
    {
      "name": "Illinois",
      "abbreviation": "IL"
    },
    {
      "name": "Indiana",
      "abbreviation": "IN"
    },
    {
      "name": "Iowa",
      "abbreviation": "IA"
    },
    {
      "name": "Kansas",
      "abbreviation": "KS"
    },
    {
      "name": "Kentucky",
      "abbreviation": "KY"
    },
    {
      "name": "Louisiana",
      "abbreviation": "LA"
    },
    {
      "name": "Maine",
      "abbreviation": "ME"
    },
    {
      "name": "Maryland",
      "abbreviation": "MD"
    },
    {
      "name": "Massachusetts",
      "abbreviation": "MA"
    },
    {
      "name": "Michigan",
      "abbreviation": "MI"
    },
    {
      "name": "Minnesota",
      "abbreviation": "MN"
    },
    {
      "name": "Mississippi",
      "abbreviation": "MS"
    },
    {
      "name": "Missouri",
      "abbreviation": "MO"
    },
    {
      "name": "Montana",
      "abbreviation": "MT"
    },
    {
      "name": "Nebraska",
      "abbreviation": "NE"
    },
    {
      "name": "Nevada",
      "abbreviation": "NV"
    },
    {
      "name": "New Hampshire",
      "abbreviation": "NH"
    },
    {
      "name": "New Jersey",
      "abbreviation": "NJ"
    },
    {
      "name": "New Mexico",
      "abbreviation": "NM"
    },
    {
      "name": "New York",
      "abbreviation": "NY"
    },
    {
      "name": "North Carolina",
      "abbreviation": "NC"
    },
    {
      "name": "North Dakota",
      "abbreviation": "ND"
    },
    {
      "name": "Ohio",
      "abbreviation": "OH"
    },
    {
      "name": "Oklahoma",
      "abbreviation": "OK"
    },
    {
      "name": "Oregon",
      "abbreviation": "OR"
    },
    {
      "name": "Pennsylvania",
      "abbreviation": "PA"
    },
    {
      "name": "Rhode Island",
      "abbreviation": "RI"
    },
    {
      "name": "South Carolina",
      "abbreviation": "SC"
    },
    {
      "name": "South Dakota",
      "abbreviation": "SD"
    },
    {
      "name": "Tennessee",
      "abbreviation": "TN"
    },
    {
      "name": "Texas",
      "abbreviation": "TX"
    },
    {
      "name": "Utah",
      "abbreviation": "UT"
    },
    {
      "name": "Vermont",
      "abbreviation": "VT"
    },
    {
      "name": "Virginia",
      "abbreviation": "VA"
    },
    {
      "name": "Washington",
      "abbreviation": "WA"
    },
    {
      "name": "West Virginia",
      "abbreviation": "WV"
    },
    {
      "name": "Wisconsin",
      "abbreviation": "WI"
    },
    {
      "name": "Wyoming",
      "abbreviation": "WY"
    }
  ]

  var statesHtmlContainer = "";
  usStates.forEach(state => {
    statesHtmlContainer += `<li class="list-group-item" abbreviation=${state.abbreviation}>${state.name}</li>`
  })
  $(".list-group").append(statesHtmlContainer)
  $("li").click((e) => {
    let stateId = e.currentTarget.attributes.abbreviation.nodeValue.toUpperCase();
    let url = "/locations/" + stateId;
    window.location.replace(url);
  });
</script>