{{!-- home page
    -Div States
    dropdown with list of states


 --}}

 <div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
      <span>Choose a State to View State Parks</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        State
      </a>
      <a href="#" class="dropdown-item">
        State
      </a>
      <a href="#" class="dropdown-item">
        State
      </a>
      <a href="#" class="dropdown-item">
        State
      </a>
      <a href="#" class="dropdown-item">
        State
      </a>
      <a href="#" class="dropdown-item">
        State
      </a>
      <a href="#" class="dropdown-item">
        State
      </a>

    </div>
  </div>
</div>