form.signup,
form.login {
  margin-top: 80px;
}


/* Document Body */
/* body {
  background-color: #84815d;

} */

/* Hero */
.hero{
  background-color: #dbb99c;
}


/* Card Styling */
#cardBody{

  background-color: #dbb99c;
}
#card{
  background-color: #bc674d;

}

/* Navbar */

.navbar{
  background-color: #bc674d;
}

.navbar-item{
  color: white;
  font-family: 'Yusei Magic', sans-serif;
}

/* Buttons */
.button {
  background-color: #734338;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
}

#btn-blu,
.btn-blu {
  background-color: #a3cfd9;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
}

/* container */
.container-content{
  display: flex;
  justify-content: center;
  font-family: 'Yusei Magic', sans-serif;

}
.container-search {
  background-color: #dbb99c;

}

.center-item{
  text-align: center;
}

.nav-link{
  color: white;
}
label,

p,
h3,
.jumbotron,h1 {
  background-color: #DBB99C;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 80px;
  color:#734338;
  text-align: center;
  }

h3,strong {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
}
h2 {
  text-align: center;
  color: #BC674D;
}

html,
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(http://best-hd-wallpapers.com/images/national-park-wallpaper-collection-hd-7420.jpeg);
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.col-md-4,
.col-md-6 {
  margin-top: 50px;
  background: rgb(255, 255, 255, 0.9);
  border-radius: 6%;
}



