h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: #BC674D;
}
h3 {
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}
.jumbotron {
background-color: #DBB99C;
font-family: 'Yusei Magic', sans-serif;
color:#734338;
}
body {
    background-color:#A3CFD9;
}