<li>
    {{burger_name}}
    {{#if food}}
        <button class="eat-burger" data-id="{{this.id}}">
            Devour It!
        </button>
        {{else}}
            <button class="delete-burger" data-id="{{this.id}}">
                Digest
            </button>
    {{/if}}
</li>